/********************** SMARTPHONE ****************************/
@media screen and (max-device-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
  }
  #logo992px {
    display: none;
  }
  #logo768px {
    display: initial;
  }

  nav {
    width: 100%;
  }
  nav li {
    width: 50%;
    text-align: center;
    padding: 16px;
    font-size: 30px;
  }
  nav ul {
    padding: 0px;
    margin: 0px;
  }
  nav {
    border-bottom: 1px solid #f2f2f2;
  }
  nav li:hover {
    border-bottom: black;
  }
  .nav_hosts:hover,
  .nav_activities:hover {
    border-bottom: 1px solid #0065fc;
  }
  .nav_hosts a:hover,
  .nav_activities a:hover {
    border-top: none;
  }
  #booki h1,
  #booki h2 {
    text-align: left;
  }
  #booki h1 {
    font-size: 55px;
  }
  #booki h2 {
    font-size: 30px;
  }
  p {
    display: flex;
    width: 100%;
  }
  /******************** LAYOUT SEARCH ************************/
  .search {
    display: none;
  }
  .fa-search {
    display: inline;
    padding: 15px;
    background: #0065fc;
    border-radius: 15px;
    color: white;
    border: none;
    width: 15vw;
    height: 100%;
    font-size: 2em;
  }
  .fa-map-marker-alt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 100%;
    font-size: 2em;
  }
  .city {
    width: 80%;
    font-size: 30px;
    padding: 0% 6%;
  }
  /****************** LAYOUT FILTERS ***************************/
  #filters {
    flex-wrap: wrap;
    font-size: 30px;
  }
  #filters p {
    margin: 0% 0% 2% 0%;
  }
  .container_icon {
    padding: 30px;
  }
  .filters_title {
    margin: 0px 44px;
  }
  #localisation_search {
    height: 100px;
  }
  #filters li {
    margin-bottom: 2%;
    font-size: 30px;
    margin-right: 10%;
  }
  h2 {
    font-size: 30px;
  }
  .fa-info {
    font-size: 1.5em;
  }
  /************************* LAYOUT HOSTS RESULTST ***********************/
  .hosts {
    flex-direction: column-reverse;
  }
  .city_hosts,
  .most_popular {
    width: 100%;
    padding: 0%;
  }
  #popular_title {
    font-size: 50px;
  }
  .most_popular {
    margin-bottom: 20px;
    border-radius: 0%;
  }

  .container_popular_hosts .picture_hosts {
    width: 40%;
  }
  .container_popular_hosts {
    height: 40vw;
  }
  .container_popular_hosts img {
    height: 100%;
  }

  .container_hosts img {
    height: 100%;
    border-radius: 15px 15px 0px 0px;
  }
  .city_hosts {
    margin-right: 0%;
    background: transparent;
  }
  .city_hosts h1 {
    font-size: 50px;
    padding-left: 4%;
  }

  .hosts_results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2% 6% 2% 2%;
  }
  .container_hosts {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    margin: 2%;
    box-shadow: 0px 0px 15px#f2f2f2;
    height: 40vw;
  }
  .general_info_hosts h2 {
    font-size: 40px;
  }
  .general_info_hosts p {
    font-size: 30px;
  }
  .general_info h2 {
    font-size: 40px;
  }
  .general_info p {
    font-size: 30px;
  }
  .info_hosts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3%;
  }
  .rate_hosts {
    margin-bottom: 1%;
  }
  .fa-star {
    font-size: 2em;
  }

  .container_hosts .picture_hosts {
    height: 50%;
    padding: 1%;
  }
  .info_hosts {
    width: 100%;
    height: 50%;
  }
  .picture_hosts img {
    height: 100%;
    width: 100%;
  }

  /******************** LAYOUT SECTION ACTIVITIES ************************/

  .activities {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0% 2% 2% 2%;
  }

  .container_activities {
    height: 40vw;
    margin: 0% 2% 2% 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .list_activities h1 {
    padding-left: 4%;
    font-size: 50px;
  }
  .activity1,
  .activity2 {
    width: 100%;
  }
  .container_activities img {
    height: 75%;
  }
  .container_activities h2 {
    height: 25%;
    font-size: 40px;
    font-weight: 600;
  }

  /*************** LAYOUT FOOTER *************/

  footer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    padding: 4%;
  }
  .container_footer h2 {
    font-size: 40px;
  }
  .container_footer a {
    font-size: 30px;
  }
  .container_footer {
    width: 100%;
    padding-left: 4%;
  }
}

@media only screen and (max-width: 768px) {
  body {
    margin: 0% 2% 2% 2%;
  }
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
  }

  #logo992px {
    display: none;
  }
  #logo768px {
    display: initial;
  }

  nav {
    width: 100%;
  }
  nav li {
    width: 50%;
    text-align: center;
    padding: 16px;
    font-size: 30px;
  }
  nav ul {
    padding: 0px;
    margin: 0px;
  }
  nav {
    border-bottom: 1px solid #f2f2f2;
  }
  nav li:hover {
    border-bottom: black;
  }
  .nav_hosts:hover,
  .nav_activities:hover {
    border-bottom: 1px solid #0065fc;
  }
  .nav_hosts a:hover,
  .nav_activities a:hover {
    border-top: none;
  }
  #booki h1,
  #booki h2 {
    text-align: left;
  }
  #booki h1 {
    font-size: 55px;
  }
  #booki h2 {
    font-size: 30px;
  }
  p {
    display: flex;
    width: 100%;
  }
  .search {
    display: none;
  }
  .fa-search {
    display: inline;
    background: #0065fc;
    border-radius: 15px;
    color: white;
    border: none;
    width: 15vw;
    height: 100%;
    font-size: 2em;
  }
  .fa-map-marker-alt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    font-size: 2em;
    height: 100%;
  }
  .city {
    width: 80%;
    font-size: 30px;
    padding: 0% 6%;
  }
  #filters {
    flex-wrap: wrap;
    font-size: 30px;
  }
  #filters p {
    margin: 0% 0% 2% 0%;
  }
  .container_icon {
    padding: 30px;
  }
  .filters_title {
    margin: 0px 44px;
  }
  #localisation_search {
    height: 100px;
  }
  #filters li {
    margin-bottom: 2%;
    font-size: 30px;
    margin-right: 10%;
  }
  h2 {
    font-size: 30px;
  }
  .fa-info {
    font-size: 1.5em;
  }
  /************* LAYOUT HOSTS RESULTST ********/
  .hosts {
    flex-direction: column-reverse;
  }
  .city_hosts,
  .most_popular {
    width: 100%;
    padding: 0%;
  }
  #popular_title,
  .city_hosts h1 {
    font-size: 40px;
    padding: 0% 4%;
  }

  .most_popular {
    margin-bottom: 2%;
    border-radius: 0%;
  }
  .container_popular_hosts {
    height: 45vw;
    margin: 0% 2% 2% 2%;
  }
  .container_popular_hosts img {
    height: 100%;
  }
  .general_info_hosts h2 {
    font-size: 5vw;
    font-weight: 600;
  }
  .general_info_hosts p {
    font-size: 4vw;
  }
  .city_hosts {
    background: transparent;
  }
  .hosts_results {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .container_hosts {
    width: 100%;
    height: 45vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .container_hosts .picture_hosts {
    height: 50%;
    padding: 1%;
  }
  .info_hosts {
    height: 50%;
  }
  .picture_hosts img {
    height: 100%;
    width: 100%;
  }

  .general_info h2 {
    font-size: 5vw;
    font-weight: 600;
  }
  .general_info p {
    font-size: 4vw;
  }
  .fa-star {
    font-size: 2em;
  }

  /**************** LAYOUT SECTION ACTIVITIES **********/
  .activities {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .list_activities h1 {
    font-size: 40px;
    padding-left: 4%;
  }

  .container_activities {
    height: 45vw;
    margin: 0% 2% 2% 2%;

    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .activity1,
  .activity2 {
    width: 100%;
  }
  .container_activities img {
    height: 75%;
  }
  .container_activities h2 {
    height: 25%;
    font-size: 5vw;
    font-weight: 800;
  }

  /*************** LAYOUT FOOTER *************/

  footer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    padding: 4%;
  }
  .container_footer h2 {
    font-size: 30px;
  }
  .container_footer a {
    font-size: 20px;
  }
  .container_footer {
    width: 100%;
    padding-left: 4%;
  }
}
/* smartphone portrait */

/* smartphone paysage */
