body {
  font-family: "Raleway";
  margin: 0px;
}
/***************** LAYOUT HEADER *******************/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin : 0px 20px 20px 20px
}
#logo_booki {
  height: 100%;
}
nav {
  height: 100%;
}
nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
nav a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
nav li {
  padding: 0px 20px;
}
.nav_hosts a:hover,
.nav_activities a:hover {
  border-top: 1px solid #0065fc;
}
.nav_hosts a {
  color: #0065fc;
  padding: 16px;
}
.nav_activities a {
  padding: 16px;
}
#booki {
    margin : 0px 20px 20px 20px
}
h1 {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 26px;
}
h2 {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 400;
}

/************** LAYOUT SEARCH FORM *******************/

#localisation_search {
  height: 50px;
  margin: 0px 20px 20px 20px;
}
form {
  height: 100%;
}
#localisation_search p {
  height: 100%;
  display: flex;
  margin: 0px;
}
.fa-map-marker-alt {
  padding: 15px;
  border-radius: 15px 0px 0px 15px;
  background: #f2f2f2;
}
.city {
  padding: 0px 15px;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  border-left: transparent;
  border-right: transparent;
  outline: none;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 16px;
}
.search {
  padding: 0px 30px 0px 15px;
  background: #0065fc;
  border-radius: 0px 15px 15px 0px;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 16px;
  border: none;
  color: white;
  border: none;
}
.fa-search {
  display: none;
}

/****************** FILTERS LAYOUT ****************/

#filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0px 20px 20px 20px
}
.filters_list {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: left;
}
.container_filters {
  display: flex;
  align-items: center;
  border: 2px solid #f2f2f2;
  border-radius: 50px;
  padding: 0% 3% 0% 0%;
  margin: 0%;
  height: auto;
}
.container_icon_money {
  padding: 10%;
  background: #deebff;
  border-radius: 50px;
  margin-right: 10%;
}
.container_icon_heart {
  padding: 11%;
  background: #deebff;
  border-radius: 50px;
  margin-right: 10%;
}
.container_icon_child {
  margin-right: 10%;
  background: #deebff;
  padding: 16% 20%;
  border-radius: 50px;
}
.container_icon_dog {
    padding: 8%;
    background: #DEEBFF;
    border-radius: 50px;
}

.filters_title {
  margin: 0%;
}

.container_filters:hover {
  background: #deebff;
}
