footer{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: left  ;
    align-items: flex-start;
}
.container_footer{
    width: 33%;
    padding: 30px 20px;
    box-shadow: rgba(242, 242, 242, 0.2) 0px 8px 24px;

}
.container_footer h2 {
    font-family: "Raleway_bold";
    font-size: 18px;
}
a{
    text-decoration: none ;
    color: black;
}