.hosts {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-bottom: 30px;
}
.city_hosts,
.most_popular {
  background: #f2f2f2;
  border-radius: 15px;
  padding: 10px 30px;
}
.city_hosts {
  width: 70%;
  margin-right: 30px;
}
.most_popular {
  width: 30%;
}
.city_hosts h1 {
  margin-bottom: 15px;
}

.container_hosts {
  border: 1px solid transparent;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  
  flex-wrap: wrap;
  padding: 5px;
  border-radius: 15px;
  background: white;
  /* margin: 15px; a supprimer */
  box-shadow: 0px 0px 15px #d1d1d1;
  width: 28%;
  margin-bottom: 15px;
}
.container_hosts p {
  font-family: "Raleway" !important;
}
.hosts_results {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.info_hosts h2,
.info_hosts p {
  margin: 0px;
  margin-bottom: 5px;
}

.container_hosts img {
  border-radius: 15px 15px 0px 0px;
  margin-bottom: 5px;
  object-fit: cover;
  width: 100%;
  height: 154px;
}
.container_popular_hosts {
  border: 1px solid transparent;
  display: flex;
  flex-direction: row;
  /* flex-wrap: no-wrap; */
  background: white;
  border-radius: 15px;
  margin: 15px;
  box-shadow: 0px 0px 15px #d1d1d1;
  width: 100%;
  min-height: 154px;
}
.container_popular_hosts .picture_hosts {
  width: 40%;
  display: flex;
  padding: 5px;
}
.container_popular_hosts h2,
.container_popular_hosts p {
  margin: 0px;
  margin-bottom: 10px;
}
.info_hosts h2,
.info_popular_hosts h2 {
  font-family: "Raleway_semibold";
  font-size: 18px;
}

.container_popular_hosts img {
  border-radius: 15px 0px 0px 15px;
  object-fit: cover;
  height: 154px;
  width: 100%;
}

.popular_results {
  display: flex;
  flex-direction: column;
}
.info_popular_hosts {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
  padding: 10px 10px 5px 0px;
}
.rate_hosts {
  margin-bottom: 5px;
}
.city_hosts p {
  font-family: "Raleway_semibold";
}
.hosts a {
  text-decoration: none;
  color: black;
}
.container_hosts a:hover {
  text-decoration: none;
  color: black;
  background: #f2f2f2;
}
.container_hosts:hover,
.container_popular_hosts:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.fa-star {
  color: #f2f2f2;
}
.fa-star.active {
  color: #0065fc;
}
